body
{
	background-color:#00FFFF;
}
.det
{
	background-color:lightblue;
	float:right;
	border:2px;
	border-color:red;
	font-weight:bold;

    margin: auto;
    width: 25%;
    border: 3px solid green;
    padding: 10px;
}
.h
{
	
	float=left-side;
}